
<!-- Main image of the site  -->
<div id="cover">
</div>


<div class="container-fluid anchor-index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="image-two">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid anchor-index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h1 class="center"><%= t('.welcome')%></h1>
      <h3 class="center message-box"><%= t('.more_details')%>To find more details about me, visit the
      About and Contact pages
      </h3>
    </div>
    <div class="col-md-6 col-xs-6" id="new_comment">
      <p>This is a test</p>
      <p>Data controller is : <%= controller_name %> data-action= <%= action_name %>></p>
    </div>

    <div class="col-md-6 col-xs-6">
      <p class="indent-right">I'm an IT professional since over 30 years. I like my actual work and now working towards new challenges and better life quality. My new challenges are inline with the love I have with the IT domain I'm working in since many years.</p>
    </div>
  </div>
</div>
