<!-- MY WORK USING CONTAINER-FLUID AND RESPONSIVE CLASS -->
<div class="container-fluid work">
  <!-- /col Example row of columns-->
  <div class="img-two">
    <%= image_tag("Photo_Linked_pngpanda_V1.JPG", size: "400x250",
      alt: "Edit Entry", class: "img-Yves img-responsive")%>
    <%= image_tag("Old_Computer_png_V6,jpg", size: "400x250",
      alt: "Edit Entry", class: "img-Yves img-responsive")%>
    <%= image_tag("WEB_Development_and_Design_V1.JPG", size: "400x250",
              alt: "Edit Entry", class: "work-img project_mgt_image img-responsive")%>
  </div>

  <div class="row" id="work">
    <div>
    <h2 class="myWorkTitle">My Information Technology work</h2>
    </div>
     <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 1 WEB Dev & Design -->
      <div class="my_content">
        <div class="my_work_image">
          <figure>
            <%= image_tag("WEB_Development_and_Design_V1.JPG", size: "400x250",
              alt: "Edit Entry", class: "work-img project_mgt_image img-responsive")%>
            <!-- <figcaption class="caption">OK this is a new test</figcaption> -->
           <figcaption class="caption img-responsive">WEB Development and Design</figcaption>
          </figure>
        </div>
        <div class="my_work_text item3">
          <h4>WEB Development and design work</h4>
          <br>
          <p>My new and future career.</p>
          <p>It is starting with this course and this work on my portfolio</p>
          <p>I love coding and creating solution for customers</p>
          <p>Please go to my contact page to have information on how to reach me</p>
        </div>
      </div>
    </div><!--/end col 1-->

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 2  Software development -->
      <div class="my_content">
        <div class="my_work_image">
          <figure>
            <img class="project_mgt_image img-responsive" src="/assets/Software_Development_V1.JPG" alt="Soffware Dev">
            <figcaption class="caption2">Software development and intergation</figcaption>
          </figure>
        </div>
        <div class="my_work_text item3">
          <h4>Software development and intergation</h4>
          <br>
          <p>Coded and delivered software solutions since the beginng of my career</p>
          <p>I have used different languages in a variety of platforms</p>
          <p>Languages used: COBOL, RPGII, RPGIII, SQL, Visual Basic, SQR, EDL, Scripting</p>
          <p>Worked with the following tools: Essbase, Hyperion Analyzer, RSIS, SSIS, Postman-CURL, SQL Server</p>
          <p>Now using HTML5, CSS3, Javasccript, Jquery and more to come</p>
        </div>
      </div>
    </div><!--/End col 2-->

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 3  Databases -->
      <!-- <a href="http://www.google.ca"> -->
      <div class="my_content">
        <div class="my_work_image">
          <figure>
            <img class="project_mgt_image img-responsive" src="img/Databases_Work_V1.JPG" alt="Databases image">
            <figcaption class="caption">Database work</figcaption>
          </figure>
        </div>
        <div class="my_work_text item1">
          <h4>Working with different databases</h4>
          <br>
          <p>Used a variety of databases under different platforms: SQL Server, DB2, ORACLE, Cassandra, etc.</p>
        </div>
      </div>
    </div><!--/End col 3-->

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 4 Project Management -->
      <div class="my_content">
        <div class="my_work_image">
          <figure>
          <img class="project_mgt_image img-responsive" src="img/startup-photos_V2.JPG" alt="Project Mgt.">
          <figcaption class="caption">Project Management work</figcaption>
          </figure>
        </div>
        <div class="my_work_text item1">
          <h4>Project Management work</h4>
          <br>
          <p>The past 15 years of my career have been in project management work</p>
          <p>Planning, managing scope, issues, risks, vendors, resources, etc.</p>
          <p>Managed a variety of projects, different sizes and budgets</p>
          <p>Managed resources and multiples vendors in the same project.</p>
        </div>
      </div>
    </div><!--/End col 4-->

  </div> <!--/End row -->

  <div class="row" id="work">
      <div class="industry_title">
        <br><br>
        <!-- <h2 class="myWorkTitle"> </h2> -->
        <h2 class="myWorkTitle">Working industries</h2>
      </div>

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 5 Airline and Cargo Industry -->
      <div class="my_content">
        <div class="my_industries">
          <figure>
          <img class="project_mgt_image img-responsive" src="img/Airline_Industry_Work_V1.JPG" alt="Airline Industry">
            <figcaption class="caption">Airline Industry Industry</figcaption>
          </figure>
        </div>
        <div class="my_work_text item3">
          <h4>The Airline industry work</h4>
          <br>
          <p>Worked in both passengers and cargo domains</p>
          <p>Many contributions on the cargo side: implemented their new operation system - LYNX, </p>
          <p>and CMR database and reporting. Participated in the creation of the SUBITO database and reporting tools</p>
          <p>On the passenger side, implemented a new Revenue Maganement software and replace the hearth of the reservation with new software from an external vendor.</p>
          <p>Other work at AC: implemented new HR, Payroll, Accounting PeopleSoft software packages replacing a BULL mainframe</p>
          <p>Participated to the Canadian Airline integration project</p>
        </div>
      </div>
    </div><!--/End col 5-->

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 6 Banking and Finance Industry -->
      <div class="my_content">
        <div class="my_industries">
          <figure>
          <img class="project_mgt_image img-responsive" src="img/Banking_and_Finance_Industry_V1.JPG" alt="my kitten">
          <figcaption class="caption">Banking and Finance Industry</figcaption>
          </figure>
        </div>
        <div class="my_work_text item3">
          <h4>Banking and Finance work</h4>
          <br>
          <p>Implemented and integrated many softwares and solutions in the banking, finance and brookerage domains</p>
        </div>
      </div>
    </div><!--/End col 6-->

<!--    <div class="col-md-3 col-xs-6"> -->   <!-- 7 Finance and Brokerage Industry -->
    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">  <!-- 7 CableDistributors Industry -->
      <div class="my_content">
        <div class="my_industries">
          <figure>
          <!-- <img class="project_mgt_image" src="img/Finance_and_Brokerage_Industry_V1.JPG" alt="Finance and Brokerage"> -->
          <img class="project_mgt_image img-responsive" src="img/Cabledistributors_Industry_V1.JPG" alt="Cabledistributors">
          <!-- <figcaption>Finance and Brokerage Industry</figcaption> -->
          <figcaption class="caption">Cabledistributors Industry</figcaption>
          </figure>
        </div>
        <div class="my_work_text item2">
          <!-- <h3>Finance and Brokerage work</h3> -->
          <h4>Cabledistribution work</h4>
          <br>
          <p>This was at the start of my career.</p>
          <p>We built a new billing and accounts receivable systems for cable distributors</p>
          <p>First on an IBM Series 1 computer in an old langage close to Assembler code.</p>
          <p>Then we re-coded it using RPGII on an IBM System 34/36 computers</p>
        </div>
      </div>
    </div><!--/End col 7 -->

    <div class="col-xs-6 col-sm-6 col-md-3 over_boot">   <!-- 8 Distribution and Manufacturing -->
      <div class="my_content">
        <div class="my_industries">
          <figure>
          <img class="project_mgt_image img-responsive" src="img/Distribution_and_Manufacturing_Industry_V1.JPG" alt="Distribution">
          <figcaption class="caption2">Distribution and Manufacturing Industry</figcaption>
          </figure>
        </div>
        <div class="my_work_text item2">
          <h4>Distribution and Manufacturing Work</h4>
          <br>
          <p>Build Distribution, Manufacturing, Ordering, Payables and custom applicatons for many companies</p>
          <p>The package was parameter driven and could be adapted to almost all distributors</p>
          <p>Was built on IBM System 36 and portable to System 38 and AS-400 computers</p>
        </div>
      </div>
    </div><!--/End col 8 -->
  </div> <!-- /row-->
</div> <!-- /container-->
